/* 
	Background
*/
body {
	background-color: #f4f4f4;
	line-height: 1.6;
	background-image: 
		radial-gradient(circle at center, rgba(0,0,0,0) 20%, rgba(0,0,0,0.9) 80%),
        url("../images/background.png");
	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center;
	background-size: cover, cover;
	background-attachment: fixed;
	font-family: 'Inter', sans-serif;
}

/*
	Formatting
*/
body {
    display: flex;
    flex-direction: column;       /* stack content vertically */
    justify-content: center;      /* vertical centering */
    align-items: center;          /* horizontal centering */
    min-height: 100vh;            /* make sure body takes full viewport */
    padding-top: 3vh;            /* at least 10% padding on top */
    padding-bottom: 3vh;         /* at least 10% padding on bottom */
    margin: 0;
    overflow-y: auto;             /* allow scrolling if content exceeds viewport */
    box-sizing: border-box;       /* include padding in height calculation */
}

/*
	Banner
*/
header {
	display: block;
	position: relative;
	width: fit-content;
	margin: 0 auto;
}

header img {
	width: 650px;
}

header img:hover {
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
}

header nav {
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-family: "UnifrakturCook", serif;
	font-size: 32px;
	gap: 2px;
	display: flex;
	text-shadow:
  1px 2px 0 black,
  -1px 2px 0 black,
  1px -2px 0 black,
  -1px -2px 0 black,
  0 0 6px rgba(127, 214, 212, 0.3);
	
}

header nav a {
	width: 145px;
	height: 50px;
}

footer {
    padding: 40px 0;
    display: flex;
    justify-content: center;
	font-family: "UnifrakturCook", serif;
}

footer nav {
	display: flex;
	gap: 3px;
}

footer nav a {
	width: 100px;
	height: 30px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/stone.png');
    background-repeat: no-repeat;
    background-position: center;
	background-size: 100% 100%;
	padding: 6px 16px 10px 6px;
	text-decoration: none;
	color: #7FD6D4;
}

.button img {
	height: 100%;
	object-fit: cover;
	padding: 5px;
}

.button:hover{
	font-size: 1.1em;
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
}

.socials {
	display: grid;
	grid-template-columns: repeat(3, 180px);
	grid-auto-rows: 60px;
	gap: 5px;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	text-decoration: none;
	color: black;
	font-size: 24px;
	width: 140px;
}

.social img {
	height: 100%;
	object-fit: cover;
	padding: 5px;
}

.social:hover{
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
}

main {
	box-sizing: border-box;
    background-image: url('../images/paper.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 30px; 
    margin: 10px auto 0px auto;
    padding: 60px 80px 0px 80px;
    width: 700px;
    min-height: 20px;
    color: #000;
	font-size: 18px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  text-align: center;
}

.menu-item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 0px 50px;
}

.menu-item h1 {
	font-family: "UnifrakturCook", serif;
	text-decoration: underline;
	margin: 20px 0 0 0;
}

.menu-item p {
	margin: 0;
}

.gallery {
    display: grid;
	padding: 30px 0px 5px 0px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.45);
}

.intro {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.card {
  background-image: url('../images/card.png');
  background-size: 100% 100%;
  width: 250px;
  height: 363px;
  flex-shrink: 0;
}

.intro-text {
  line-height: 1.7;
  padding: 20px 20px;


  border-radius: 8px;

  box-shadow:
    0 0 15px rgba(120, 90, 255, 0.25),
    inset 0 0 10px rgba(0,0,0,0.6);


  text-shadow: 0 0 6px rgba(140,110,255,0.35);
}

@media (min-width: 1000px) {
	
    header img {
        width: 1000px;
    }
	
	header nav {
		font-size: 48px;
		gap: 10px;
		bottom: 30px;
		right: 30px;
	}
	
	header nav a {
		padding: 0px 20px;
		width: 220px;
		height: 75px;
	}
	
	.socials {
		gap: 20px;
		grid-template-columns: repeat(3, 240px);
	}
	
	.social {
		font-size: 36px;
		width: 170px;
		height: 40px;
	}
	
	.footer-button {
		padding: 16px 16px 20px 12px;
	}
	
	main {
		width: 1000px;
		padding: 60px 120px 40px 120px;
		font-size: 26px;
	}
	
	.gallery {
		padding: 60px 0px 20px 0px;
	}
	
	.card {
		width: 350px;
		height: 508px;
	}
}
